{% extends 'base.html.twig' %}

{% block title %}Registro - GameRate{% endblock %}

{% block body %}
<div class="container">
    <h1>Crea tu cuenta en GameRate</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        <button type="submit" class="btn btn-primary">Registrarse</button>
    {{ form_end(registrationForm) }}

    <p>¿Ya tienes cuenta? <a href="{{ path('app_login') }}">Entra aquí</a></p>
</div>
{% endblock %}
