{% extends 'base.html.twig' %}

{% block body %}
<h1>Videojuegos</h1>

<a href="{{ path('videojuego_new') }}">Nuevo videojuego</a>

{% for msg in app.flashes('success') %}
    <p>{{ msg }}</p>
{% endfor %}

<ul>
{% for v in videojuegos %}
    <li>
        {{ v.titulo }}
        <a href="{{ path('videojuego_edit', {id: v.id}) }}">Editar</a>
        <a href="{{ path('videojuego_delete', {id: v.id}) }}">Eliminar</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
